<div class="widget tag">
	<h3 class="title">博客统计</h3>
	<ul class="entry" style="font-size:13px">
		<li>
		    <span class="post-count" style="font-family:Lucida; font-size:16px; color:red"><%= site.posts.length %></span> 篇博客
		</li>
		<li>
			<span id="busuanzi_container_site_pv" style="font-family:Lucida; font-size:16px; color:red"><span id="busuanzi_value_site_pv"></span></span> 位访客
		</li>
	</ul>
</div>