<div class="widget tag">
	<h3 class="title">个人介绍</h3>
	<ul class="entry" style="font-size:15px">
		<li>
			<a class="disablefancybox" href="https://fundebug.com"><img src="/img/fundebug.png" style="width:120px;"></a>
		</li>
		<li>
			<a href="https://fundebug.com">Fundebug</a> 创始人
		</li>
<!-- 		<li>
			<a href="https://github.com/kiwenlau"><img height="15px" src="/img/github.png"></a> <a href="https://github.com/kiwenlau">GitHub</a>
		</li> -->
		<li >
		<a href="mailto:kiwenlau@126.com">
			kiwenlau@126.com</a>
		</li>
	</ul>
</div>