<SCRIPT language=javascript>
function search(formname) {
    formname.method = "get";
    formname.action = "http://www.baidu.com/baidu";
    document.search_form.word.value = document.search_form.word.value + " site:xingbaifang.com";
    return true;
}
</SCRIPT>

<div class="search">
    <form name="search_form" target="_blank" onsubmit="search(this)">
        <input type="text" name="word" results="0" placeholder="<%= __('百度站内搜索') %>" onblur="this.value=''">
    </form>
</div>